textarea {
  width: 100%;
  height: 200px;
  border: 1px solid grey;
  border-radius: 5px;
}
#showListsContainer,
#showDrawLettersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
pre {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  white-space: pre-line;
}
.dataBox {
  margin-top: 20px;
}
.container {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (max-device-width: 700px) {
  .btn {
    display: block;
    width: 100%;
    margin-top: 5px;
  }
}